body {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.container {
    max-width: 56rem;
    margin-inline: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}